.main-menu{
    display: flex;
    align-items: center;
    justify-content: center ;

}
.menu-option{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding: 0.6rem;
    position: relative;
    justify-content: center;
    
}


.option{
    margin: 0;
    cursor: pointer;
   
}
.option:hover .submenu{
    display: block;
}
.submenu{
    display: none;
    list-style-type: none;
    justify-content: center;
    position: absolute;
    padding: 0.6rem;
    align-items: center;
    border: 1px solid;
    border-color: var(--clr-gray);
    background-color: var(--clr-gray);
    min-width: 10rem;
    padding: 1.5rem;
    
}

.submenu li{
    margin-bottom: 10px;
}

.submenu li:hover{
    text-decoration: underline;
}
.up::before {
    transform: rotate(90deg);
    content: "\25B4";
    font-size: 40px;
    margin-left: 5px;
    vertical-align: middle;

}
.down::before   {
    transform: rotate(0deg);
    content: "\25BE";
    font-size: 40px;
    margin-left: 5px;
    vertical-align: middle;
   
}
.header{
    max-width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header);
    color: var(--clr-white);
  
}
.header img{
    width: 175px;
    height: 175px;
    margin-left: 50px;
    cursor: pointer;
}

.search{
    
}