.hidden{
    display: none;
}
.name:hover{
    text-decoration: underline;
}
.show{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    border-radius: 1rem;
    padding: 1rem;

    gap: 0.5rem;
}
.conteiner{
    width: 15rem;
    
}