@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --clr-black:  #393939;

    --clr-gray:  #7480B2;

    --clr-white: #f7f7f7;
    --title: #26367C;
    --back-white:#F5F7FB;
    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;

    --header: #0A0A0A;
   
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik',sans-serif;

}